body {
    background-image: url("images/confetti.gif");
    font-family: helvetica;
}

h1 {
    font-size: 300%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
}

img {
    border: 5px solid #FFCB05;
    padding: 10px;
}

.the_divs {
    font-weight: bold;
}

#one {
    text-align: center;
}

#two {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    font-size: 150%;
}

#three {
    background-color:  rgba(255, 255, 255, 0.5);
    padding: 20px;
}

#yellow {
    color: #FFCB05;
}

#raichu, #team_rocket, #ash {
    border: none;
    width: 100px;
}

ul {
    list-style-image: url('images/pikachu.png');
}